exportPattern("^[[:alpha:]]+")
export(Bayesian_FDR)
export(TADA_A_RR_estimate)
export(TADA_A_adjust_mutrate)
export(TADA_A_get_FDR_SNVs)
export(TADA_A_read_info)
export(TADA_A_read_info_by_chunks)
import(Rcpp)
import(HelloRanges)
import(data.table)
importFrom("stats", "as.formula", "complete.cases", "glm", "optim", "poisson", "rbinom", "rpois")
importFrom("utils", "write.table")
import(parallel)
import(doParallel)
import(foreach)
useDynLib(tadaA)

